@import "tailwindcss";

@theme inline {
  --color-background: #0A0A0A;
  --color-foreground: #EDEDED;
  --color-amber: #3B82F6;
  --color-amber-dark: #D97706;
  --color-surface: #1A1A1A;
  --color-surface-light: #202020;
  --color-surface-blue: #101C30;
  --color-muted: #737373;
  --color-border: #262626;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
